@model Chef
<div class="container">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav ">
            <li class="nav-item ">
                <a class="nav-link" href="/allChefs">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <h1>Add a Chef</h1>
    <form action="/editChef/updateChef/@Model.chef_id" method="post">
        <div class="form-group">
            <span asp-validation-for="f_name"></span>
            <label asp-for="f_name"></label>
            <input type="text" asp-for="f_name" class="form-control">
        </div>
        <div class="form-group">
            <span asp-validation-for="l_name"></span>
            <label asp-for="l_name"></label>
            <input type="text" asp-for="l_name" class="form-control">
        </div>
        <div class="form-group">
            <span asp-validation-for="age"></span>
            <label asp-for="age"></label>
            <input type="text" asp-for="age" class="form-control">
        </div>
        <center><input type="submit" class="btn btn-primary" value="Edit"></center> 
    </form>
</div>